#header {
  display: flex;
  background-color: $bg-color;
  height: 100px;
  width: 100%;
  flex: 1;
}

#header-text {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
  color: lighten($text-color, 15%);
  font-size: 2.5rem;
}
