@import './base.scss';
@import "./header.scss";
@import "./searchbar.scss";
@import './movie.scss';

.page-link {
  border: none;
  padding: 1%;
  color: blue;
  text-decoration: underline;
  display: inline;
}

.page-link-selected {
  border: none;
}

.page-link:hover {
  transition: 0.5s;
  color: darken(blue, 40%);
  cursor: pointer;
}

.page-link:active {
  color: black;
  text-decoration: none;
}
