// .movie-expanded {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   overflow-y: scroll;
//   width: 80vw;
//   height: 100vh;
//   background-color: white;
//   margin-top: 20%;
//   margin-left: 10%;
// }

button {
  margin: 10px;
  padding: 1px;
}

#video {
  // margin: 4%;
  width: 100%;
  height: 100%;
}