#root {
  text-align: center;
}

.container {
  margin: 1%;
  display: inline-block;
  width: 80%;
  height: 278px;
  background-color: lightgray;
  border-radius: 10px;
}

#image {
  text-align: left;
  float: left;
}

#image img {
  border-radius: 10px 0 0 10px;
}

#movie-title {
  height: 50px;
  background-color: lighten(blue, 20%)
}

#content {
  margin: 0;
  padding: 0;
}
