form {
  text-align: center;
}

#search-bar {
  font-family: 'Lato', sans-serif;
  padding: 0.5% 0.5% 0.5% 1.5%;
  font-size: 24px;
  margin-top: 2.5%;
  margin-bottom: 1.5%;
  width: 80%;
  border-radius: 15px;
  display: inline-block;
  background-color: lightgray;
}
